body {
	text-align: center;
	margin-top: 200px;
	background-image: url("http://www.pptbackgrounds.net/uploads/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg");
	background-size: cover;
}

.player1 {
	float:left;
}

.player2 {
	float:right;
}

ul {
	list-style-type: none;
}

li {
	text-align: center;
	display: inline;
	cursor: move;
}

.myclass {
	font-size: 30px;
	padding: 10px;
}

button {
	margin-top: 30px;
	position: absolute;
}

.dropdown-menu {
	padding: 20px;
	margin-left: 50px;
}

.pickPlayer {
	display: none;
}

.gameboard {
	display: none;
}

