body {
	text-align: center;
	margin-top: 200px;
	background-image: url("http://www.pptbackgrounds.net/uploads/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

.displayTimer {
	font-size: 30px;
	color: white;
}

h1 {
	color: white;
	text-shadow: 2px 2px grey;
}

h3 {
	color: white;
	font-size: 17px;
	padding: none;
}

.player1 {
	float:left;
	color: white;
	padding-left: 50px;
	font-size: 30px;
}

.player2 {
	float:right;
	padding-right: 50px;
	color:white;
	font-size: 30px;
}

ul {
	list-style-type: none;
}

li {
	text-align: center;
	display: inline;
	cursor: move;
}

#sortable {
	padding: 5px;
}

.myclass {
	font-size: 30px;
	padding: 10px;
}

button {
	margin-top: 30px;
/*	position: absolute;*/
}

.pickPlayer {
	display: none;
}

.gameboard {
	display: none;
	font-color: white;
}

div.sweet-alert.showSweetAlert {
	height: 400px;
	width: 500px;
	text-align: center;
}

button.confirm {
	position: relative;
}

.turn {
	margin-top: 20px !important;
	height: 20px;
}

#topRow {
	margin-top: -150px;
	padding-top: 20px;
	font-size: .5em;
	color: white;
}

#timer {
	height: 100px;
}

.rightButton {
	/*float: left !important;*/
	text-align: right;
}

.leftButton {
	/*float: right !important;*/
	text-align: left;
}

.modal-content {
	text-align: center;
}




